<template id="actor-detail">
    <link rel="stylesheet" href="/assets/styles/actor.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <section class="container actor__detail">

        <figure class="actor-detail__image">
            <slot name="actor-image"></slot>
        </figure>

        <section class="actor-detail__grid">
            <div class="actor-detail__meter">
                <section>
                    <h2>
                        <slot name="actor-name"> </slot>
                    </h2>

                    <p>
                        Date of Birth : <slot name="actor-DOB"></slot>
                    </p>
                </section>
                <section class="actor-detail__meter-section">
                    <h2>
                    <span class="fa fa-star fa-3x"></span><span class="actor-popularity__font-size"> Meter</span>
                    <slot name="actor-popularity"></slot>
                    </h2>
                  
                </section>
            </div>
            <div>
                <p class="actor-detail__biography">
                    <slot name="actor-biography"> </slot>
                </p>
                <slot name="actor-name"> </slot>
            </div>


        </section>
    </section>


</template>
<template id="actor-film-list">
    <section>
        <h4 class="actor-film__year">
            <slot name="actor-film-year">
            </slot>
        </h4>
        <slot name="films"></slot>
    </section>
    <style>
        .actor-film__year {
            background-color: #dddddd5e;
            padding: 0.8em;
            font-size: 1.6em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>
</template>
<template id="actor-film-detail">
    <section>
        <ul class="actor-film__list">
            <li>

               <span> Title :</span><slot name="film-title"></slot>

            </li>
            <li>

               <span> Year :</span><slot name="film-year"></slot>

            </li>
            <li>

               <span> Character :</span><slot name="film-character"></slot>

            </li>
        </ul>

    </section>
    <style>
        .actor-film__list {
            list-style-type: none;
            padding-left: 0.7em;
            color: #515151;
            font-size: 1.1em;
        }
    </style>
</template>