<template id="carousel-template">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/styles/carousel.css"/>
<h2>
        <slot name="title"></slot>
    </h2>
    <div id="slider-parent">
        <div class="slider">
            <div class="slide" id="slide">
                <slot name="items"></slot>
            </div>
        </div>
        <button class="ctrl-btn pro-prev">
            <i class="fa fa-3x fa-chevron-left"></i>
        </button>
        <button class="ctrl-btn pro-next">
            <i class="fa fa-3x fa-chevron-right"></i>
        </button>
    </div>
</template>
