<header class="header">
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__list">
                <a class="navbar__item" href="/">Movie App</a>
            </li>
            <li class="navbar__list active">
                <a class=" navbar__item navbar__item--active" href="/">Home</a>
            </li>
            <li class="navbar__list">
                <a class="navbar__item" href="./search.html">Explore</a>
            </li>
        </ul>
    </nav>
</header>
