
.actor__detail {
    display: flex;
    flex-direction: row;
}

.actor-detail__image {
    width: 25%;
    text-align: center;
    margin-left: 0;
    margin-right: 0

}

.actor-detail__grid {
    width: 75%;
    background-color: #e3e3e354;
    padding: 1em;
    margin: 1em;
}

.actor-detail__biography {
    max-height: 190px;
    overflow-y: auto;
    min-height: 170px
}
.actor-detail__meter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.actor-popularity__font-size{
    font-size: 1.5em;
    font-weight: 900;
}
.actor-detail__meter-section{
    width: 15%;
    display: inline-flex;
    float: right;
}
.actor-detail__meter-rating{
    margin: 0;
    font-weight: 400;
    margin-left: 0.3em;
    text-align: center;
}
@media only screen and (max-width:767px){
    .actor__detail {
        display: flex;
        flex-direction: column;
    }

    .actor-detail__image {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0

    }

    .actor-detail__grid {
        width: 100%;
        background-color: #e3e3e354;
        padding: 1em;
        margin: 0;
        
    }

}