.search__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-serach__form{
    width: 50%;
   

}
.card-serach__field{
    padding: 8px;
    width: 55%;
    font-size: 1.3em;
    margin-right: -4px;
}

.card-search__button{
    padding: 10px;
    background-color: #0000ffad;
    color: #fff;
    box-shadow: none;
    border: 0;
    width: 10%;
    font-size: 1.3em;
}
.search-result__form{
    margin-top: 4em;
    margin-bottom: 4em;
}
