.header {
    background: #000000e0;
    opacity: 0.70;
    color: grey;
}

.navbar__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
}

.navbar__list {
    padding: 12px 30px;
}
.navbar__list:nth-child(2) {
    color: #ffffff;
    opacity: 1;
    background: black;
  }
.navbar__item {
    text-decoration: none;
    color: #999191;
}

.navbar__list:hover {
    color: var(--white);
    opacity: 1;
    background: black;
}
.navbar__item--active{
    color:#ffffff;
    background-color: black;
}
@media only screen and (max-width:600px){
    .navbar__menu {
      
        display: flex;
        flex-direction: column;
     
    }

}